
.leave-request-table-item{
  border-bottom: 1px solid rgba(204, 204, 204, 0.44);
  height: 50px;
  transition: padding 0.3s linear;
}
.leave-request-table-item:hover{
  background-color: rgba(93.7%, 93.7%, 92.9%, 0.522);
  padding-left: 15px;
  transition: padding 0.3s linear;
}
.leave-request-table-item:hover .leave-request-table-item-name{
  font-weight: bold;
}
.leave-request-table-item:hover .leave-request-table-item-time{
  color:#707070;
}
.leave-request-table-item-tools-icon{
    margin-right: 10px;
    cursor: pointer;
}
.leave-request-table-item-tools{
    float:right;
    font-size: 25px;
    margin-top: 10px;
}
.leave-request-table-item-time{
   color:#ccc;
   font-size: 12px;
   text-transform: uppercase;
}
.leave-request-table-item-body{
   width: 60%;
   float: left;
}
.leave-request-table-item-status{
    font-size: 14px;
    margin-top: 20px;
    float: right;
    background-color: #eee;
    padding: 0 5px;
    border-radius: 5px 5px 0 0;
    transition: margin 0.3s linear;
}

.leave-request-table-item:hover .leave-request-table-item-status{
  font-weight: bold;
  margin-right: 15px;
  transition: margin 0.3s linear;
}
