html, body {
  font-family: sans-serif;
}

#root {
  display: block;
  height: 100%;
  min-height: 100%;
}

.app {
  display: flex;
}

.fill {
  height: 100%;
  min-height: 100%;
}

.glyphicon {
  width: 25px;
}

.glyphicon-plus {
  color: red;
}

.bg-color {
  background-color: #ddd;
}

.panel {
    margin-top: 20px;
}

.p-md {
  padding: 20px;
}

.no-padding-recursive > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

[class*='col-'].no-padding {
    padding-right:0;
    padding-left:0;
}
