.display-inline {
  display: inline;
}

.sidebar-content {
  min-height: 100%;
}

.push {
  height: 50px;
}

.logo{
  font: 24px/30px Open-sans, sans-serif;
  font-weight: 800;
  text-shadow: 1px 1px 1px #aaa;
}
