.img-picture {
  //width: 70px;
  //border-radius: 50%;
  //background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}



.personal-container {
  padding: 20px;
  height: 200px;
}
