.test {
  width: 50px;
}

.home-twer-information {
  margin-bottom: 30px;
}

.leave-dashboard-modal-header{
  line-height: 9px;
  padding-bottom: 10px;
}

.leave-dashboar-modal-status{
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 15px;
  text-align: center;
  border-radius: 0 0 8px 0;
}